<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184687481644-j656q4s6klk31d4tpi5i33pqphe8q7qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184687481644-j656q4s6klk31d4tpi5i33pqphe8q7qg</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7zp6XNKTHP3Gw0bS9qu_cwDyuZnwOKk</string>
	<key>GCM_SENDER_ID</key>
	<string>184687481644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ar.patient</string>
	<key>PROJECT_ID</key>
	<string>ar-patient</string>
	<key>STORAGE_BUCKET</key>
	<string>ar-patient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:184687481644:ios:0b482cb1edbac413f6d289</string>
	<key>DATABASE_URL</key>
	<string>https://ar-patient.firebaseio.com</string>
</dict>
</plist>
