<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ar.patient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:name=".ARPatientApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SubscrotionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DownloadingPatientModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PatientExamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TestResultActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsFeedDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsFeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.DiagnosisActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ForgotpasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.TermsAndConditionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".retrofit.ErrorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentScreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.SOAPNotesActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".service.MyService"
            android:exported="false" />
    </application>

</manifest>